   *,
    *:after,
    *:before {
      box-sizing: border-box;
    }

    @font-face {
      font-family: "Col";
      src: url("/assets/fonts/Col-1-Regular.woff2") format("woff2"),
           url("/assets/fonts/Col-1-Regular.woff") format("woff");
    }

    body {
      font-family: 'Optima', sans-serif;
      background: #fff;
    }

    a {
      text-decoration-style: dotted;
    }

    main {
      margin: 0 5vw auto;
      /* max-width: 960px; */
    }

    .title {
      font-family: 'Col', 'Optima', Times Serif;
      text-align: center;
      font-size: 15vw;
      line-height: 9vw;
      font-weight: 100;
      margin: 0;
      padding: 0;
    }

    .speaker {
      text-align: center;
    }

    .season-one {
      background-color: lavender;
    }

    .season-two {
      background-color: lightcoral;
    }

    .captioned:hover {
      background: yellow;
      color: black;
    }

    #caption {
      font-size: 96px;
      font-family: 'Arial Rounded MT Bold', sans-serif;
      letter-spacing: -0.03em;
      position: fixed;
      bottom: 30px;
      left: 0;
      width: 100%;
      text-align: center;
      /* mix-blend-mode: difference; */
      color: rgb(0, 255, 0);
      /* text-shadow:
      -1px -1px 0 #00f,
      1px -1px 0 #00f,
      -1px 1px 0 #00f,
      1px 1px 0 #00f;   */
    }

    .confabimg {
      position: fixed;
      mix-blend-mode: multiply;
      width: 50vw;
    }

    header {
      background: #fff;
    }

    .menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #menu-full {
      /*display: none;*/
    }

    #announcement {
      background: #eee;
      display: flex;
      justify-content: space-between;
      position: sticky;
      position: -webkit-sticky;
      top: 0; /* required */
    }

    .action {
      color: #fff;
      background: #000;
    }

    h2, h3 {
      /*text-align: center;*/
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
    }

    footer {
      margin: 0 16px 144px 0;
    }

    #stream {
      padding: 16px;
    }

    #screen {
      width: 1280px;
      height: 720px;
      margin: 0 auto;
      background: #000;
    }

    #mini-screen {
      width: 320px;
      height: 180px;
      background: #000;
      position: fixed;
      top: 52px;
      left: 16px;
    }

    .transcription {
      max-width: 640px;
      font-size: 14px;
      padding: 16px;
      border: 1px dotted #000;
    }

    .transcription img {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }

    .logo{
    width: 20%;
    height: 20%;
    padding: 8px;
    display: infline-flex;
    justify-content: center;
}
