@font-face {
	font-family: 'Routed Gothic';
	src: url('../fonts/routed-gothic.ttf');
}

@keyframes clock {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

html {
  scroll-behavior: smooth;
}

body {
	/*font-family: 'Optima', sans-serif;*/
	font-family: 'Arial', sans-serif;
	/*font-size: 1.25em;*/
	font-size: 1.5em;
	letter-spacing: 0.005em;
	line-height: 1.5em;
	background: white;
	/*background: #E5E3DF;*/
}

a {
	color: inherit;
}

/* header */
header {
	margin-top: 2em;
/*	position: fixed;
	top: 8px;
	left: 8px;
	opacity: 0.25;*/
	font-size: 0.8em;
	line-height: 1.4em;
}

header:hover {
	/*opacity: 1;*/
}

#backtomenu {
	animation: fadein 0.5s;
	display: none;
	position: fixed;
	right: 16px;
	top: 8px;
}

#backtomenu a {
	text-decoration: none;
}

#backtomenu img {
	width: 120px;
	height: auto;
}

/* takeover */

h1 {
	margin: 0;
}

.takeover {
	max-height: calc(100vh - 16px);
	text-align: center;
	background: white;
	/*box-shadow: 0 0 8px 8px white;*/
}


.takeover img {
	max-height: calc(100vh - 16px);
	width: 100%;
}

.takeover img:hover {
	animation: clock 24s infinite linear;
}

/*table, 
th, 
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}*/

table {
	border: 1px inset black;
}

th,
td {
	border: 1px inset black;
}

th {
	text-align: left;
	font-weight: normal;	
	color: red;
}

/*td {
	background: white;
	color: black;
}*/

.soon {
	background: #FF9966;
}

.season1 {
	background: #FFFF00;
}

.season2 {
	background: #66FFCC;
}

.season3 {
	background: #33FFFF;
}

/* lectures  */
section {
	margin-top: 1em;
}

hr {
	border: 1px inset #ddd;
	margin-top: 2em;
}

/*#season3{
	color: #000;
}

#season2{
	color: #000;
}

#season1{
	color: #000;
}*/

h2,
h3,
h4,
h5 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

h2 {
	text-align: center;
	color: red;
}

h2, h5 {
	text-transform: uppercase;
}

h3 {
	font-weight: bold;
}

h4 {
	font-size: 1em;
	text-transform: uppercase;
}

article {
	margin-bottom: 72px;
}

.highlight {
	/*background: white;
	color: blue;*/
}

.description,
.biography {
	/*margin-right: 30%;*/
}

.gallery {
	display: flex;
	justify-content: left;
	margin: 16px 0;
}

.gallery img {
	max-width: 220px;
}

.articledivider {
	text-align: center;
}

/* caption */
.captioned {
	cursor: help;
}

#caption {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	/*font-family: 'Routed Gothic';*/
	font-family: 'Arial', sans-serif;
	font-weight: lighter;
	font-size: 2em;
	line-height: 1.4em;
	color: black;
	background: #FFFF00;
	pointer-events: none;
}

/* footer */
footer {
	font-size: 0.80em;
	line-height: 1.4em;
	color: red;
}

.columns {
	display: flex;
	gap: 16px;
}

.mediumcolumn {
	width: 50%;
}


@media (max-width: 960px) {
	body {
		font-size: 1.2em;
		line-height: 1.45em;
	}

	header {
		margin-right: 8px;
	}

	h3 {
		font-size: 1.2em;
		line-height: 1.1em;
		font-weight: bold;
	}

	.description,
	.biography {
		margin-left: 0;
		margin-right: 0;
	}

	.columns {
		display: block;
	}

	.mediumcolumn {
		width: 100%;
	}

	footer {
		font-size: 0.75em;
		line-height: 1.5em;
	}
}
