@font-face {
	font-family: 'Routed Gothic';
	src: url('../fonts/routed-gothic.ttf');
}

@keyframes clock {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

body {
	font-family: 'Optima', sans-serif;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background: black;
	color: white;
	text-decoration: none;
}

/* header  */
header {
	position: fixed;
	top: 8px;
	left: 8px;
	opacity: 0.25;
	z-index: 999;
}

header:hover {
	opacity: 1;
}

.clock {
	text-align: center;
}

.clock img {
	height: 88vh;
}

.clock img:hover {
	animation: clock 24s infinite linear;
}

/*table, 
th, 
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}*/

th {
	text-align: left;
	font-weight: normal;
}

td {
	background: grey;
	color: white;
}

td:hover {
	background: black;
	color: white;
}

.soon {
	background: yellow;
	color: red;
}

/* lectures  */
h2,
h3,
h4 {
	font-weight: normal;
	margin: 0;
	text-align: center;
}

h3 {
	font-size: 96px;
	font-weight: bold;
}

article {
	margin-bottom: 72px;
}

.highlight {
	background: black;
	color: white;
}

.description,
.bio {
	max-width: 1080px;
	margin: 0 auto;
}

/* caption */
.captioned {
	cursor: help;
}

#caption {
	position: fixed;
	bottom: 16px;
	left: 0;
	width: 100%;
	text-align: center;
	/*font-family: 'Routed Gothic';*/
	font-family: 'Arial', sans-serif;
	font-weight: lighter;
	font-size: 96px;
	color: #0f0;
	/*mix-blend-mode: difference;*/
	pointer-events: none;
}

/* footer */
.columns {
	display: flex;
	gap: 8px;
}

.mediumcolumn {
	width: 50%;
}

footer a {
	text-decoration: underline;
	text-decoration-style: dotted;
}


@media (max-width: 600px) {
	header {
		margin-right: 8px;
	}

  h3 {
		font-size: 48px;¡
	}

	.columns {
		display: block;
	}

	.mediumcolumn {
		width: 100%;
	}
}
