@font-face {
	font-family: 'Routed Gothic';
	src: url('../fonts/routed-gothic.ttf');
}

@keyframes clock {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Optima', sans-serif;
	font-size: 1.25em;
	letter-spacing: 0.005em;
	line-height: 1.5em;
	/*background: #E5E3DF;*/
	background: silver;
}

a {
	color: inherit;
}

/* header */
header {
	margin-top: 2em;
/*	position: fixed;
	top: 8px;
	left: 8px;
	opacity: 0.25;*/
	font-size: 0.75em;
	line-height: 1.25em;
}

header:hover {
	/*opacity: 1;*/
}

nav a {
	text-decoration: none;
}

/* clock */

h1 {
	margin: 0;
}

.clock {
	height: calc(100vh - 16px);
	text-align: center;
	background: white;
	box-shadow: 0 0 8px 4px white;
}

.clock img {
	height: calc(100vh - 16px);
}

.clock img:hover {
	animation: clock 24s infinite linear;
}

/*table, 
th, 
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}*/

th {
	text-align: left;
	font-weight: normal;
}

td {
	background: white;
	color: black;
}

td:hover {
	background: black;
	color: white;
}

.soon {
	background: blue;
	color: white;
}

/* lectures  */
section {
	margin-top: 2em;
}

h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin: 0;
	text-align: center;
}

h2, h5 {
	font-size: 0.85em;
	text-transform: uppercase;
}

h3 {
	font-size: 3.5em;
	line-height: 1.15em;
	font-weight: bold;
}

h4 {
	font-size: 1em;
	text-transform: uppercase;
}

article {
	margin-bottom: 72px;
}

.highlight {
	/*background: white;
	color: blue;*/
}

.description,
.biography {
	margin-left: 15%;
	margin-right: 15%;
}

/* caption */
.captioned {
	cursor: help;
}

#caption {
	position: fixed;
	bottom: 16px;
	left: 0;
	width: 100%;
	text-align: center;
	/*font-family: 'Routed Gothic';*/
	font-family: 'Arial', sans-serif;
	font-weight: lighter;
	font-size: 96px;
	color: #0f0;
	/*mix-blend-mode: difference;*/
	pointer-events: none;
}

/* footer */
footer {
	color: blue;
	/*font-size: 0.75em;
	line-height: 1.35em;*/
}

.columns {
	display: flex;
	gap: 16px;
}

.mediumcolumn {
	width: 50%;
}


@media (max-width: 960px) {
	header {
		margin-right: 8px;
	}

	h3 {
		font-size: 2em;
		line-height: 1.15em;
		font-weight: bold;
	}

	.description,
	.biography {
		margin-left: 0;
		margin-right: 0;
	}

	.columns {
		display: block;
	}

	.mediumcolumn {
		width: 100%;
	}

	footer {
		font-size: 0.75em;
		line-height: 1.5em;
	}
}
